@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F0F;
  color: #F8F8F8;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.glitch-active {
  opacity: 0.5;
  filter: blur(2px);
  transform: translateX(4px);
}

/* Redacted text specific styles */
.redacted-bar-overlay {
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.group:hover .redacted-bar-overlay {
  transform: scaleX(0);
}